body {
    background-color: lightgray;
}

thead {
    text-transform: uppercase;
}

select {
    height: 30px;
    border-radius: 10px;
}

.fa-circle-check {
    color: green;
}

.fa-circle-xmark {
    color: red;
}

button {
    border-radius: 10px;
}